@import './../../../base.scss';

.chart {
  display: flex;
  justify-content: center;
  width: 85%;

  @include respond(tab) {
    width: 100%;
  }

  @include respond(phone){
    width: 95vw;
    height: 80%;
  }
}
